/* Hide notification menu and app drawer in upper right */

.gb_bb.gb_6e.gb_R.gb_5e.gb_X.gb_T {
  display: none !important;
}

/* Reposition logo and hamburger to accomodate window controls */

/* Hamburger */
.mUbCce.fKz7Od.cTIldc.rxXpLd.M9Bg4d, .mUbCce.fKz7Od.cTIldc.rxXpLd {
  margin-top: 30px;
}

/* Google logo */
#gbq1 {
  margin-left: 15px !important;
}

.g-Ue-kc-Sc1lPb, .g-Ue-OkO9ve  {
  -webkit-app-region: drag;
}

iframe {
  -webkit-app-region: no-drag;
}
