html {
  height: 100%;
}

body {
  background: #0F9044;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.main {
  width: 100%;
  height: 100%;
  float: left;
}

nav {
  width: 75px;
  height: 100%;
  float: left;
  background: #261D25;
  text-align: center;
}

nav ul {
  margin: 75px 0 0 0;
  padding: 0;
  list-style-type: none;
}

nav li a {
  display: block;
  width: 40px;
  height: 40px;
  background: url('https://lh5.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/s64-c-k/photo.jpg') center center;
  background-size: contain;
  text-indent: -9999px;
  border-radius: 50%;
  margin: 10px auto;
}
