
/* Hide notification menu and app drawer in upper right */

#gbsfw, #gbwa, .gb_fc.gb_Vc.gb_R.gb_gc, .gb_gc.gb_Vc.gb_R.gb_hc {
  display: none;
}

.gb_8b.gb_Me.gb_R {
  min-width: 0 !important;
  margin-right: -300px;
}


/* Reposition logo and hamburger to accomodate window controls */

/* Hamburger */
.mUbCce.fKz7Od.cTIldc.rxXpLd.M9Bg4d, .mUbCce.fKz7Od.cTIldc.rxXpLd {
  margin-top: 30px;
}

/* Google logo */
#gbq1 {
  margin-left: 15px !important;
}

.g-Ue-ad {
  -webkit-app-region: drag;
}
